<%- include('partials/header') %>
<form action="/login">
    <div class="alert alert-warning alert-dismissible fade show">
        <strong>Error!</strong> No account found. Please enter a valid email and password in the required fields before proceeding.
        <button type="submit" class="close" data-dismiss="alert">&times;</button>
    </div>
</form>

<%- include('partials/header') %>